* {
    color: white;
    text-shadow: 1px 1px black;
}

ul {
    padding: 0;
    list-style-type: none;
}

.border1 {
    border: 0.25em solid #715b31;

    position: absolute;

    right: calc((1 / 1920) * 100%);

    top: 14.8148%;
    top: calc((160 / 1080) * 100%);

    height: 63.3333%;
    height: calc((684 / 1080) * 100%);

    width: 11.1979%;
    width: calc((215 / 1920) * 100%);

    width: 12.5%;

    overflow: hidden;
}

.unitInfoBox {
    border: 3px solid #174344;

    background-color: #131c1b;
    /* opacity: 0.5; */

    height: 100%;
}

.starLevelContainer {
    height: calc((20 / 684) * 100%);
    display: flex;
    justify-content: center;
}

.starLevelIcon {
    max-width: 100%;
    height: 80%;
}

.splash {
    position: relative;
    top: 0;
    left: 0;

    height: 100%;
    height: calc((138 / 684) * 100%);
    /* width: 100%; */

    /* border: 10px solid red; */
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.traits {
    position: absolute;
    top: calc((30 / 128) * 100%);
    top: 0;
    left: calc((8 / 216) * 100%);
    left: 0;
    height: 60%;
    display: flex;
}

.traitIcon {
    width: 1em;
    height: 1em;
    padding-left: calc((15 / 216) * 100%);
}

.traitText {
    padding-left: calc((10 / 216) * 100%);
    text-transform: capitalize;
    /* border: 1px solid pink; */
    /* width: 100%; */
}

.traitContainer {
    display: flex;
    align-items: center;
    margin: 0px 0;

    border: 1px solid pink;
}

.champName {
    position: absolute;
    top: 0px;
    left: 70px;
}

.costBanner {
    height: 4.28571%;
    height: calc((30 / 684) * 100%);
    /* height: 40px; */
    /* width: 100%; */

    position: relative;
}

.costBannerName {
    position: absolute;
    top: 0px;
    left: 0px;
    /* border: 1px solid #000000;
    background-color: white; */
    /* width: 10px;
    height: 10px; */
    padding-left: 5%;
    text-transform: capitalize;
}

.costBannerCost {
    position: absolute;

    top: 15%;
    right: 3%;

    width: 20%;
    height: 60%;

    display: flex;
    justify-content: space-around;
}

.costBannerGoldIcon {
    width: 1em;
    height: 1em;
    padding-left: calc((15 / 216) * 100%);
    /* background-color: white; */
}

.costBannerGoldText {
    background-color: red;
}

.resources {
    height: calc((50 / 684) * 100%);
    border: 1px solid black;
    margin: 2%;
}

.health {
    height: 50%;
    position: relative;
    /* border: 1px solid red; */
}

.healthBar {
    height: 100%;
    background-color: green;
}

.manaBar {
    height: 100%;
    background-color: #022a4f;
}

.healthText,
.manaText {
    margin: 0;
    /* border: 1px solid pink; */
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
}

.mana {
    height: 50%;
    position: relative;
    /* border: 1px solid red; */
}

.firstRowSquares {
    height: calc((85 / 684) * 100%);
    /* border: 1px solid pink; */
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.squares {
    /* border: 1px solid black; */
    height: calc((57 / 85) * 100%);
    width: calc((170 / 216) * 100%);
    display: flex;
    justify-content: space-between;
}

.square {
    width: calc((55 / 216) * 100%);
    height: calc((50 / 87) * 100%);
    width: 26%;
    width: 26%;
    height: 100%;
    border: 1px solid #184542;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: capitalize;
}

.ability {
    width: 100%;
    height: 100%;
}

.squareIcon {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.positionSquare {
    width: calc((55 / 216) * 100%);
    height: calc((50 / 87) * 100%);
    width: 30%;
    height: 100%;
    border: 1px solid #184542;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.positionIcon {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.rangeIcon {
    width: 50%;
    height: 50%;
}
.unused {
    height: calc((180 / 684) * 100%);
    /* border: 1px solid yellow; */
    /* background-color: yellow; */
}

.statsContainer {
    height: calc((183 / 684) * 100%);
    display: flex;
}

.statsBox {
    /* border: 1px solid green; */
    /* background-color: green; */
    margin: 5%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.statItem {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 100%;
}

.statIcon {
    /* max-width: 100%; */
    height: 23%;
}
