.square {
    width: 26%;
    width: calc((56 / 216) * 100%);
    height: 100%;
    border: 0.1em solid #184542;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: capitalize;
    box-shadow: 0.1em 0.1em black;
}

.traitTile {
    /* UNCOMMENT WHEN DEBUGGING */
    /* background-color: rgba(255, 251, 0, 0.1); */

    /* UNCOMMENT WHEN DEBUGGING */
    /* border: 1px solid black; */

    height: 9.21348%;
    height: calc((41 / 445) * 100%);
    /* Just realzied i can't do this unless I support multiple resolutions */
}

.shopTile {
    /* UNCOMMENT WHEN DEBUGGING */
    /* background-color: rgba(255, 238, 0, 0.5); */

    /* UNCOMMENT WHEN DEBUGGING */
    /* border: 1px solid rgb(0, 0, 0); */

    height: 100%;

    width: 19.1%;
    /* Just realzied i can't do this unless I support multiple resolutions */
}

.unitTrait {
    width: 100%;
    height: calc((28 / 76) * 100%);

    display: flex;
    align-items: center;
    padding-bottom: 15%;
    white-space: nowrap;
}

.statItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 100%;
}

.championSquare {
    display: flex;
}
