.statInfoBox {
    border: 1px solid black;
    border: 2px solid #715b31;

    background-color: #061217;

    position: absolute;

    top: calc((670 / 1080) * 100%);
    right: calc((245 / 1920) * 100%);

    min-width: calc((450 / 1920) * 100%);
    max-width: calc((713 / 1920) * 100%);
    min-height: 15%;
    max-height: 20%;
}

.header {
    display: flex;
    padding: 1%;

    text-transform: capitalize;
    font-size: 1.25em;
}

.description {
    text-align: left;
    padding-left: 1%;
}

.mainBody {
    text-align: left;
    padding-left: 1%;
}
