.statInfoBox {
    border: 0.2em solid #715b31;
    background-color: #061217;
    position: absolute;

    top: 62%;
    top: calc((670 / 1080) * 100%);

    right: 14.2%;
    right: calc((275 / 1920) * 100%);

    min-width: calc((450 / 1920) * 100%);
    max-width: calc((713 / 1920) * 100%);

    min-height: 15%;
    max-height: 20%;
}

.header {
    display: flex;
    padding: 1%;
    padding-left: 2%;
    text-transform: capitalize;
    font-size: 1.25em;
}

.description,
.mainBody {
    text-align: left;
    padding-left: 2%;
}
