.App {
    text-align: center;
    height: 100vh;
}

.traitsList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: pink; */

    /* UNCOMMENT WHEN DEBUGGING */
    /* background-color: rgba(255, 0, 0, 0.1); */

    /* margin-top: 100%; */
    position: absolute;
    top: 26.6666%;
    top: calc((288 / 1080) * 100%);
    width: 10%;

    height: 41.2037%;
    height: calc((445 / 1080) * 100%);
}

.shopList {
    display: flex;
    justify-content: space-between;

    /* UNCOMMENT WHEN DEBUGGING */
    /* background-color: rgba(255, 0, 0, 0.1); */

    position: absolute;

    left: 25%;

    bottom: 0.185%;
    bottom: calc((1 / 540) * 100%);

    height: 13.9815%;
    height: calc((151 / 1080) * 100%);

    width: 52.0833%;
    width: calc((1000 / 1920) * 100%);
}
